
@model Yoga4Change_Survey_Data_Collection_System.Models.Question
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Question</title>
</head>
<body>
    <form asp-action="AddQuestion" method="post" class="center">
        <p>
            <label asp-for="Content">Content of the question: </label><br />
            <textarea asp-for="Content" placeholder="Type you question here" rows="4" cols="40" required="required"></textarea>
        </p>
        <p>
            <h3>Choose a question type:</h3>
            <label asp-for="TypeId">Open ended</label>
            <input type="radio" asp-for="TypeId" value="1" required="required" onclick="Disactivate()" /><br />

            <label asp-for="TypeId">Yes/No</label>
            <input type="radio" asp-for="TypeId" value="2" onclick="Disactivate()" /><br />

            <label asp-for="TypeId">Date/Time</label>
            <input type="radio" asp-for="TypeId" value="3" onclick="Disactivate()" /><br />

            <label asp-for="TypeId">Radio Button</label>
            <input type="radio" asp-for="TypeId" value="4" onclick="Activate1()" /><br />

            <label asp-for="TypeId">Checkbox</label>
            <input type="radio" asp-for="TypeId" value="5" onclick="Activate1()" /><br />

            <label asp-for="TypeId">Dropdown</label>
            <input type="radio" asp-for="TypeId" value="6" onclick="Activate2()" /><br />

            <label asp-for="TypeId">Likert Scale</label>
            <input type="radio" asp-for="TypeId" value="7" onclick="Activate3()" /><br />
        </p>

        <div id="show1" class="hide">
            <h3>Enter each response option below.</h3>
            <input type="text"  /><br />
        </div><br />

        <div id="show2" class="hide">
                  <h3>Enter each response option below.</h3>
                  <input type="text"  />
        </div><br />

                    <button type="button"> <a asp-area="" asp-controller="QuestionMgmt" asp-action="QuestionBank">Go Back</a></button>
        <button type="submit">Add question</button>
    </form>

    <style>
        .hide{
            display:none;
        }
        .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>

        <script>
            function Activate1() {
                document.getElementById("show2").classList.add("hide");
                document.getElementById("show1").classList.remove("hide");
            }
            function Activate2() {
                document.getElementById("show1").classList.add("hide");
                document.getElementById("show2").classList.remove("hide");
            }
            function Activate3() {
                document.getElementById("show1").classList.add("hide");
                document.getElementById("show2").classList.remove("hide");
            }
            function Disactivate() {
                document.getElementById("show1").classList.add("hide");
                document.getElementById("show2").classList.add("hide");
            }
          
        </script>
    
</body>
</html>
