@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h1 style="text-align:center"> Question was successfully added </h1>
    <p style="text-align:center"> Click <a asp-controller="QuestionMgmt" asp-action="QuestionBank"> here</a> to see added questions.</p>
    </body>
</html>
