
@model Yoga4Change_Survey_Data_Collection_System.Models.Question
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var textOptionId = (int)Yoga4Change_Survey_Data_Collection_System.Models.Enums.QuestionType.Open_Ended;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Question</title>

</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateQuestion" method="post" id="edit-form" class="center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Content" style="font-size: 18.72px; font-weight: bold">Content of the question: </label><br />
                    <textarea asp-for="Content" placeholder="Type you question here" rows="4" cols="40" required="required"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeId" class="control-label">Choose a question type:</label>
                    <select asp-for="TypeId" asp-items="Html.GetEnumSelectList<Yoga4Change_Survey_Data_Collection_System.Models.Enums.QuestionType>()" class="form-control" onchange="handleQuestionTypeChange();"></select>
                    <span asp-validation-for="TypeId" class="text-danger"></span>
                </div>
                <div id="questionoptions" style="display: none;">
                    <label  class="control-label">Add a question choice: </label>
                    <button type="button" class="btn btn-primary btn-xs" id="btnAddChoice" onclick="addChoice('choice', -1)">+</button>
                </div><br />
                <div id="buttons" class="form-group">
                    <button type="button" class="btn btn-outline-primary"> <a asp-controller="QuestionMgmt" asp-action="QuestionBank">Go Back</a></button>
                    <button type="submit" class="btn btn-outline-success">Save question</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script type="text/javascript">
        var choiceCount = 0;
        var nextIndex = 0;
        var textId = @textOptionId;

        function addChoice() {
            choiceCount += 1

            let formGroupId = 'new-choice-${choiceCount}';

            let formGroup = document.createElement("div");
            formGroup.className = "form-group questionoptions-parent";
            formGroup.id = formGroupId;

            let label = document.createElement("label");
            label.className = "control-label";
            label.innerText = 'Choice';

            let inputGroup = document.createElement("div");
            inputGroup.className = "input-group";

            let input = document.createElement("input");
            input.type = "text";
            input.className = "form-control choices";
            input.id = nextIndex;


            let inputGroupBtn = document.createElement("div");
            inputGroupBtn.className = "input-group-btn";

            let btnSubtract = document.createElement("button");
            btnSubtract.type = "button";
            btnSubtract.id = "btnRemoveChoice";
            btnSubtract.className = "btn btn-danger";
            btnSubtract.innerText = "-";
            btnSubtract.onclick = function () { removeChoice(formGroupId) };

            inputGroupBtn.appendChild(btnSubtract);
            inputGroup.appendChild(input);
            inputGroup.appendChild(inputGroupBtn);
            formGroup.appendChild(label);
            formGroup.appendChild(inputGroup);
            buttons.before(formGroup);

            nextIndex++;
        }

        function removeChoice(formGroupId) {
            var formGroup = document.getElementById(formGroupId);
            formGroup.remove();
            choiceCount -= 1;
        }


        function handleQuestionTypeChange() {
            var selectList = get("#TypeId");
            var selectedValue = selectList.value;
            console.log(selectedValue);

            if (selectedValue == 1 || selectedValue == 2 || selectedValue == 3) {
                var options = document.querySelectorAll(".questionoptions-parent");
                for (var i = 0; i < options.length; i++) {
                    options[i].style.display = "none";
                }
                hide("questionoptions");
            }
            else {
                var options = document.querySelectorAll("questionoptions-parent");
                for (var i = 0; i < options.length; i++) {
                    options[i].style.display = "block";
                }
                show("questionoptions");
            }
        }

        function get(selector) {
            if (!selector) {
                console.log("Element not found. No selector provided.");
                return;
            }

            let result = document.querySelector(selector);
            if (!result) {
                console.log(`Element not found: "${selector}"`);
                return;
            }

            return result;
        }

        function show(id) {
            var element = get(`#${id}`);

            if (element) {
                element.style.display = "block";
            }
        }

        function hide(id) {
            var element = get(`#${id}`);

            if (element) {
                element.style.display = "none";
            }
        }

    </script>
}