@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<h2>Email Confirmed</h2>
<p>
    You now have access to <a id="login" asp-area="Identity" asp-page="/Account/Login">login</a>. 
</p>