
@model List<Survey>
@{
    //Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Survey</title>
</head>
<body>
    <h1>Create Survey</h1><br />
    <form asp-action="CreateSurvey" method="post">
        <p>
            <label>Name of the survey: </label>
            <input type ="text" id="name" name="name"/>
        </p>
        <p>
            Select questions from the question bank to add to the survey <br />
            <table id="example" class="table table-bordered table-striped" style="table-layout: auto;width: 100%;" cellspacing="0">
                <thead>
                    <tr>
                        <th><label asp-for="Question ID: @Model.FirstOrDefault().Questions.ID"></label></th>
                        <th><label asp-for="Content: @Model.FirstOrDefault().Questions.Content"></label></th>
                        <th><label asp-for="Type: @Model.FirstOrDefault().Questions.Type"></label></th>
                        <th><label asp-for="Required: @Model.FirstOrDefault().Questions.Required"></label></th>
                        <th><label>Select</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>What is your current age, in years?</td>
                        <td>Open-ended</td>
                        <td>True</td>
                        <td><input type="checkbox" id="question1" name="question1"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>What best describes your gender identity?</td>
                        <td>Multiple choice</td>
                        <td>True</td>
                        <td><input type="checkbox" id="question2" name="question2"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>What is your race/ethnicity? (Check all that apply)</td>
                        <td>Multiple choice</td>
                        <td>True</td>
                        <td><input type="checkbox" id="question3" name="question3"></td>
                    </tr>
                </tbody>
            </table>
            <!--<input type="checkbox" id="question1" name="question1" value="Question 1">
            <label for="question1"> Question 1</label><br>
            <input type="checkbox" id="question2" name="question2" value="Question 2">
            <label for="question2"> Question 2</label><br>
            <input type="checkbox" id="question3" name="question3" value="Question 3">
            <label for="question3"> Question 3</label><br><br>-->
        </p>
        <button type="submit">Save Survey</button>
    </form>
</body>
</html>
