
@{
    //Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h1 style="text-align:center">Survey was created successfully</h1>
    <p style="text-align:center">Click <a asp-controller="SurveyMgmt" asp-action="SurveyList">here</a> to see created surveys</p>
</body>
</html>

